# Programming / data files
*.cs     linguist-language=C#
*.json   linguist-language=JSON
*.xml    linguist-language=XML
*.yaml   linguist-language=YAML
*.yml    linguist-language=YAML
*.ini    linguist-language=INI

# Binary / asset files → count as Other
*.png    linguist-detectable=false
*.tbin   linguist-detectable=false
*.xnb    linguist-detectable=false
