# Programming / data filesecho *.cs     linguist-language=C#echo *.json   linguist-language=JSONecho *.xml    linguist-language=XMLecho *.yaml   linguist-language=YAMLecho *.yml    linguist-language=YAMLecho *.ini    linguist-language=INIecho.echo # Binary / asset files  count as Otherecho *.png    linguist-detectable=falseecho *.tbin   linguist-detectable=falseecho *.xnb    linguist-detectable=false
